[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "covTestR"]
	path = covTestR
	url = https://github.com/benbarnard/covtestr
	shallow = true
	registered = true
