[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covTestR"]
	path = covTestR
	url = https://github.com/benbarnard/covtestr
[submodule "likelihoodExplore"]
	path = likelihoodExplore
	url = https://github.com/benbarnard/likelihoodexplore
[submodule "rWishart"]
	path = rWishart
	url = https://github.com/benbarnard/rwishart
